Repository adam-huganir/hugtools: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pytest, mypy

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  verbose: true

pytest:
  name: pytest
  entry: pytest
  language: system
  pass_filenames: false
  verbose: true

mypy:
  name: mypy
  entry: mypy
  language: system

Set theme jekyll-theme-minimal
  docs/_config.yml
Due: none

consolidation of all code across machines
  .gitignore
  Makefile
  docs/Makefile
  docs/_config.yml
  docs/make.bat
  docs/source/conf.py
  docs/source/hugtools.ml.rst
  docs/source/hugtools.rst
  docs/source/index.rst
  docs/source/modules.rst
  poetry.lock
  pyproject.toml
  src/hugtools/__init__.py
  src/hugtools/_logging.py
  src/hugtools/_version.py
  src/hugtools/jupyter/__init__.py
  src/hugtools/math.py
  src/hugtools/ml/__init__.py
  src/hugtools/ml/labelstudio.py
  src/hugtools/multi.py
  src/hugtools/nlp/__init__.py
  src/hugtools/profiling.py
  src/hugtools/util.py
  tests/nlp/test___init__.py
  tests/test___init__.py
Due: isort, black, flake8, pytest, mypy

consolidation of all code across machines
  docs/Makefile
  docs/conf.py
  docs/hugtools.jupyter.rst
  docs/hugtools.nlp.rst
  docs/hugtools.rst
  docs/index.rst
  docs/make.bat
  notebooks/.gitkeep/untitled.txt
  poetry.lock
Due: isort, black, flake8, pytest

slight documentation touchup
  docs/conf.py
  docs/hugtools.rst
  docs/index.rst
  poetry.lock
  pyproject.toml
  src/hugtools/jupyter/__init__.py
  src/hugtools/nlp/__init__.py
  src/hugtools/util.py
Due: isort, black, flake8, pytest, mypy

Set theme jekyll-theme-slate
  docs/_config.yml
Due: none

added github pages target for gh-pages branch
  Makefile
Due: none

fun read me
  README.rst
Due: none

Create LICENSE
  LICENSE
Due: none

changed to list to make sure that multiline imports work, as well as adding support for multiline imports
  src/hugtools/jupyter/__init__.py
Due: isort, black, flake8, pytest, mypy

ignore
  .gitignore
Due: none

DecoderRing in progress
  poetry.lock
  pyproject.toml
  src/hugtools/util.py
Due: isort, black, flake8, pytest, mypy

Added sandbox context manager
  src/hugtools/util.py
Due: isort, black, flake8, pytest, mypy

added some tests, added trimdent and fixed something with the sandobx
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
  src/hugtools/util.py
  tests/test_util.py
Due: isort, black, flake8, pytest, mypy

added byte converter, and a few easy tests
  src/hugtools/misc.py
  tests/test_misc.py
Due: isort, black, flake8, pytest, mypy

'Refactored by Sourcery'
  src/hugtools/jupyter/__init__.py
Due: isort, black, flake8, pytest, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pytest: any of: \.py$
  mypy: any of: \.py$, but not: docs(\\|\/).*\.py
